<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="Sessionfactory">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.autoReconnect">true</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cursoextjs</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.max_fetch_depth">1</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="com/humtrusa/entidades/Genclientes.hbm.xml" />
        <mapping resource="com/humtrusa/entidades/Genestados.hbm.xml" />
        <mapping resource="com/humtrusa/entidades/Genproveedores.hbm.xml" />
        <mapping resource="com/humtrusa/entidades/Genempresas.hbm.xml" />
        <mapping resource="com/humtrusa/entidades/Calificaciones.hbm.xml" />
        <mapping resource="com/humtrusa/entidades/Genrecursos.hbm.xml" />
        <mapping resource="com/humtrusa/entidades/Genpaises.hbm.xml" />
        <mapping resource="com/humtrusa/entidades/Genopciones.hbm.xml" />
        <mapping resource="com/humtrusa/entidades/Genciudades.hbm.xml" />
        <mapping resource="com/humtrusa/entidades/Genregiones.hbm.xml" />
        <mapping resource="com/humtrusa/entidades/Genusuarios.hbm.xml" />
        <mapping resource="com/humtrusa/entidades/Alumnos.hbm.xml" />
        <mapping resource="com/humtrusa/entidades/Materias.hbm.xml" />
        <mapping resource="com/humtrusa/entidades/Genagencias.hbm.xml" />
        <mapping resource="com/humtrusa/entidades/Genprovincias.hbm.xml" />
    </session-factory>
</hibernate-configuration>
