<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>humtrusaDESAWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>/axis2-web/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>
			Servicio de administracion de vendedores
		</description>
    <display-name>
			Servicio del administracion de vendedores
		</display-name>
    <display-name>SAdministracionGeneral</display-name>
    <servlet-name>SAdministracionGeneral</servlet-name>
    <servlet-class>com.humtrusa.administracion.SAdministracionGeneral</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SAdministracionGeneral</servlet-name>
    <url-pattern>/servlet/SAdministracionGeneral</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PantallaPrincipalDatos</display-name>
    <servlet-name>PantallaPrincipalDatos</servlet-name>
    <servlet-class>com.humtrusa.servicios.PantallaPrincipalDatos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PantallaPrincipalDatos</servlet-name>
    <url-pattern>/servlet/PantallaPrincipalDatos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SAdministracionProveedores</display-name>
    <servlet-name>SAdministracionProveedores</servlet-name>
    <servlet-class>com.humtrusa.administracion.SAdministracionProveedores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SAdministracionProveedores</servlet-name>
    <url-pattern>/servlet/SAdministracionProveedores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>humtrusaDESAWeb</display-name>
    <servlet-name>humtrusaDESAWeb</servlet-name>
    <servlet-class>com.humtrusa.webServices.humtrusaDESAWeb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>humtrusaDESAWeb</servlet-name>
    <url-pattern>/humtrusaDESAWeb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WSproveedores</display-name>
    <servlet-name>WSproveedores</servlet-name>
    <servlet-class>com.humtrusa.webServices.WSproveedores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WSproveedores</servlet-name>
    <url-pattern>/WSproveedores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SIngreso</display-name>
    <servlet-name>SIngreso</servlet-name>
    <servlet-class>com.humtrusa.servicios.SIngreso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SIngreso</servlet-name>
    <url-pattern>/servlet/SIngreso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SSalida</display-name>
    <servlet-name>SSalida</servlet-name>
    <servlet-class>com.humtrusa.servicios.SSalida</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SSalida</servlet-name>
    <url-pattern>/servlet/SSalida</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControladorVistas</display-name>
    <servlet-name>ControladorVistas</servlet-name>
    <servlet-class>com.humtrusa.servicios.ControladorVistas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorVistas</servlet-name>
    <url-pattern>/servlet/ControladorVistas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SMenu</display-name>
    <servlet-name>SMenu</servlet-name>
    <servlet-class>com.humtrusa.servicios.SMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMenu</servlet-name>
    <url-pattern>/servelet/SMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SAdministracionArticulos</display-name>
    <servlet-name>SAdministracionArticulos</servlet-name>
    <servlet-class>com.humtrusa.administracion.SAdministracionArticulos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SAdministracionArticulos</servlet-name>
    <url-pattern>/servlet/SAdministracionArticulos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SAdministracionPedidoCompra</display-name>
    <servlet-name>SAdministracionPedidoCompra</servlet-name>
    <servlet-class>com.humtrusa.administracion.SAdministracionPedidoCompra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SAdministracionPedidoCompra</servlet-name>
    <url-pattern>/servlet/SAdministracionPedidoCompra</url-pattern>
  </servlet-mapping>
</web-app>